.popup-panel {
    width: 550px;
    height: 250px;
    border-width: 1px;
    border-radius: 5px;
    border-color: var(--color-back-drk);
    background-color: transparent;
}

.popup-panel__container {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: var(--color-screenfill-translucent);
}
